* {
    box-sizing: border-box;
}

body {
    background: #979797;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

    * {
        border-radius: 8px;


        &:focus {
            outline: none;
            border: 3px solid red;
        }
    }
}



.row {
    display: flex;
    flex-flow: wrap;

}

.result {
    font-weight: bolder;
    font-size: 18px;
    width: 90%;
    color: black;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;

    &:hover {
        cursor: not-allowed;
    }
}

#returnTextField {
    max-width: 244px;
    padding: 5px;
    display: none;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.5s;

    &:hover {
        text-decoration: underline;
        cursor: auto;
    }
}


.button {
    margin: 2px;
    width: 53px;
    height: 60px;
    padding: 20px;
    font-weight: bold;
    transition: 0.4s;
    color: white;

    &.darker {
        background-color: #495057;

        &:hover {
            background-color: #6c757d;
        }
    }


    &.lightred {
        color: black !important;
        font-size: 15px;
        background-color: #f28b82;

        &:hover {
            background-color: #f4c7c3;
        }
    }


    &.grey {
        background-color: #868e96;

        &:hover {
            background-color: #adb5bd;
        }
    }

    &.equals.blue {
        color: black !important;
        font-size: 15px;
        background-color: #007bff !important;
        width: calc(109.9px);

        &:hover {
            background-color: #66b2ff !important;
        }
    }

}



.calculator {
    margin: auto auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);

    h1 {
        font-weight: bold;
        margin: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }


}